#storage {
  margin-top: 66px;
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 120px;
  }

  #storage {
    margin-top: 66px;
    display: grid;
    grid-template-columns: 45% 50%;
    column-gap: 4%;
    row-gap: 2vw;
  }
}
