@use '../base/colors';
#inventory {
  background: linear-gradient(180deg, white 0%, #d9e4ed 100%);
  height: 100vh;
}
#storage {
  margin-top: 80px;
  h1 {
    text-align: center;
    padding: 1vw;
    font-weight: 400;
  }
}

//WHAT TO DO ABOUT THE LINE BREAK ORDERS SERVED TODAY BEER SERVED TODAY
#served-today,
#revenue-today {
  h1 {
    height: 4vw;
  }
}

#served-today {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
  div {
    width: 18vw;
  }
  p {
    padding: 1vw;
    height: 10vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: colors.$box-shadow;
  }
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 100px;
  }
}

@media screen and (min-width: 900px) {
  #storage {
    margin-left: 20px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 43% 54%;
    column-gap: 1.5%;
    row-gap: 2vw;
    h1 {
      font-size: 1.7vw;
    }
  }
}
