#storage {
  margin-top: 80px;
  h1 {
    text-align: center;
    padding: 1vw;
  }
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 100px;
  }
}

@media screen and (min-width: 900px) {
  #storage {
    margin-left: 20px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 43% 54%;
    column-gap: 1.5%;
    row-gap: 2vw;
  }
}
