#storage {
  margin-top: 80px;
  h1 {
    text-align: center;
    padding: 1vw;
  }
}

#served-today {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.3vw;

  p {
    padding: 1vw;
    height: 10vw;
    border-radius: 10px;
    -webkit-box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 10px 1px rgb(0 0 0 / 10%);
  }
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 100px;
  }
}

@media screen and (min-width: 900px) {
  #storage {
    margin-left: 20px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 43% 54%;
    column-gap: 1.5%;
    row-gap: 2vw;
    h1 {
      font-size: 1.7vw;
    }
  }
}
