@use '../base/colors';

.list {
  ul {
    height: 18vw;
    padding: 1vw 1vw 1vw 0.3vw;

    border-radius: 2vw;
    -webkit-box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 10px 1px rgb(0 0 0 / 10%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.stock-name {
  font-size: 1.05vw;
  font-weight: 100;
  text-align: center;
}

.stock-amount {
  text-align: center;
  font-size: 3vw;
  color: colors.$ElHefe;
  font-weight: 600;

  width: 4vw;
  height: 5vw;
  border-radius: 200%;
  margin-left: auto;
  margin-right: auto;
}
.stock-info-wrap {
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
}
