.circle {
  background: linear-gradient(180deg, rgba(255, 143, 143, 1) 0%, rgba(255, 255, 255, 1) 100%);
  width: 5vw;
  height: 1vw;
  padding-top: 4vw;
  border-radius: 200%;
  margin-left: auto;
  margin-right: auto;
}
